/* General styling */
body {
    background: linear-gradient(to bottom, #131212, #393535);
    color: #fff;
}

/* Slideshow styling */
.slideshow-container1,
.slideshow-container2 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 30px; /* Adjusted margin-top */

}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Feature section styling */
.feature-section,
.feature-section h2 {
    text-align: center;
    padding: 50px 0;
    color: #fff;
}

.feature-item {
    background: linear-gradient(to right, #ff5e62, #ff0055);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Influencer showcase styling */
.influencer-showcase {
    text-align: center;
    padding: 50px 0;
}

.influencer-item {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.influencer-item img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.influencer-info {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 10px;
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.influencer-item:hover .influencer-info {
    display: block;
}

.influencer-item h3,
.influencer-item p,
.influencer-item li {
    margin: 10px 0;
    color: #fff;
}

.influencer-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.influencer-item:hover::before {
    opacity: 1;
}

/* How It Works Section styling */
.how-it-works-section {
    text-align: center;
    padding: 50px 0;
    color: #fff;
}

.step-item {
    margin-bottom: 20px;
}

.step-item h3,
.step-item p {
    margin: 10px 0;
}

/* Additional Content Section styling */
.additional-content-section {
    text-align: center;
    padding: 50px 0;
    color: #fff;
}
